@font-face {
  font-family: "Lector";
  font-style: normal;
  src:
    local("Lector"),
    url("public/assets/fonts/LectorRegular.otf") format("opentype") tech(color-COLRv1),
}

@font-face {
  font-family: "Lector";
  font-style: oblique;
  src:
    local("Lector"),
    url("public/assets/fonts/LectorItalic.otf") format("opentype") tech(color-COLRv1),
}

@font-face {
    font-family: "Zhuzi Mincho";
    src: 
        local("Zhuzi Mincho"),
        url("public/assets/fonts/FZFWZhuZiMinchoRB.TTF") format("truetype");
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* font-family: Lector, serif; */
    font-size: 14px;
    overflow: hidden;
}

.zhuzi-mincho {
    font-family: 'Zhuzi Mincho', serif;
    /* font-size: 0.8rem; */
    text-align: justify;
}

.lector {
    font-family: 'Lector', serif;
    font-style: normal;
    /* font-size: 1rem; */
    text-align: left;
}

.font-size-1 {
    font-size: 1rem;
    line-height: 1.4rem;
}

.font-size-2 {
    font-size: 0.8rem;
    line-height: 1.4rem;
}

p {
    margin: 0;
}

a {
    color: black;
}

i {
    font-family: 'Lector', serif;
    font-style: oblique;
}

#c {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

#banner {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1.5rem 30px ;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 100;

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-top: 0.2rem;

        p {
            margin-bottom: 0.8rem;
        }

        #menu-title-text {
            font-size: 1.1rem;
            line-height: 1.6rem;
        }

        #about-btn, #back-btn {
            text-decoration: underline;
            cursor: pointer;
        }

        #back-btn {
            display: none;
            margin-right: 1rem;
        }
    }

    #toggle-lang {
        text-align: right;

        

        span {
            cursor: pointer;
        }
    }
}

@media screen and (width < 600px) {
    #banner {
        flex-direction: column;
        align-items: start;
        justify-content: start;

        #menu {
            width: 100%;
            /* justify-content: space-between; */
            margin-bottom: 1.4rem;
        }

        #toggle-lang {
            width: 100%;
            text-align: left;
        }
    }
}

.selected {
    background-color: rgb(229, 229, 229);
    padding: 0 0.1rem;
}



#content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-grow: 1;

    main {
        width: 100%;
        flex-grow: 1;
        z-index: 0;
        transition: transform 0.5s ease;
    }

    #reader-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 600px;
        padding: 1.5rem 30px 3rem 50px;
        text-align: left;
        z-index: 100;
        /* pointer-events: none; */
        /* overflow: scroll; */

        #title {
            width: 316px;
            margin-right: 2rem;
            margin-bottom: 5.2rem;
        }

        #reader {
            
            width: 316px;
            height: 600px;
            /* overflow: scroll; */

            padding: 0;

            #reader-content {
                overflow: scroll;
            }

            #reader-content > .content-text-1 {
                color: #000000;
                font-size: 0.9rem;
                line-height: 1.4rem;
                padding-bottom: 1.4rem;
            }

            #reader-content > .content-text-2 {
                border-left: 0.75px solid #c5c5c5;
                color: #000000;
                padding-left: 3rem;
                font-size: 0.8rem;
                line-height: 1.4rem;
                margin-bottom: 1.4rem;
            }

            #reader-content > .content-text-3 {
                
                border-left: 0.75px solid #c5c5c5;
                
                margin-bottom: 1.4rem;

                padding-left: 6rem;
                font-size: 0.8rem;
                line-height: 1.4rem;

                color: #898989;
            }
        }

        @media (width >= 1030px) {
            #reader {
                width: 632px;
                height: 600px;
                overflow: scroll;
                padding: 0;

                #reader-content {            
                    padding: 0;
                    columns: 2;
                    column-gap: 2rem;

                    /* p {
                        padding-top: 0;
                        margin: 0;
                    } */
                }
            }

        }

        @media (width >= 1330px) {
            #reader {
                width: 948px;
                height: 600px;
                overflow: scroll;
                padding: 0;

                #reader-content {  
                    padding: 0;          
                    columns: 3;
                    column-gap: 2rem;

                }
            }

        }

        @media screen and (width < 600px) {
            #reader {
                /* margin-top: 170px; */
                /* margin-left: 50px; */
                width: calc(100vw - 80px);
                height: 600px;
                overflow: scroll;
            }
        }
    }

    @media screen and (width < 600px) {
        #reader-container {
            flex-direction: column;
        }
    }
}

