@font-face {
  font-family: "Lector";
  font-style: normal;
  src:
    local("Lector"),
    url("public/assets/fonts/LectorRegular.otf") format("opentype") tech(color-COLRv1),
}

@font-face {
  font-family: "Lector";
  font-style: oblique;
  src:
    local("Lector"),
    url("public/assets/fonts/LectorItalic.otf") format("opentype") tech(color-COLRv1),
}

@font-face {
    font-family: "Zhuzi Mincho";
    src: 
        local("Zhuzi Mincho"),
        url("public/assets/fonts/FZFWZhuZiMinchoRB.TTF") format("truetype");
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Lector, serif;
    font-size: 14px;
    overflow: hidden;
}

.zhuzi-mincho {
    font-family: 'Zhuzi Mincho', serif;
    font-size: 0.8rem;
    text-align: justify;
}

.lector {
    font-family: 'Lector', serif;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
}

a {
    color: black;
}

i {
    font-family: 'Lector', serif;
    font-style: oblique;
}

#c {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#menu {
    /* position: absolute; */
    /* top: 10px; */
    width: 100%;
    /* height: 50px; */
    /* display: flex;
    flex-direction: row; */
    display: block;
    /* justify-content: space-between;
    align-items: start; */
    /* margin: 0 30px; */
    z-index: 100;
    

    #banner {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: start;

        #toggle-lang {
            display: inline-block;
            text-align: right;
            font-size: 0.9rem;
            padding-top: 4px;

            span {
                cursor: pointer;
            }
        }

        #about {
            text-decoration: underline;
            cursor: pointer;
        }

        #backhome {
            text-decoration: underline;
            cursor: pointer;
            display: none;
            margin-right: 1rem;
        }
    }

    
}

#content {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    /* height: 20px; */
    margin: 0;
    height: 700px;
}

main {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    /* height: 100%; */
    z-index: 0;
    transition: transform 0.5s ease;
}

.main-focus {
    transform: rotate(90deg) scale(1.2) translate(-20%, -20%);
}

#t {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    z-index: 100;
    /* width: 50%; */
}

#contents {
    display: flex;
    flex: row;

    div {
        padding-left: 10px;
        padding-right: 10px;
    }    
}

#exc-container {
    display: grid;
    align-items: start;
    justify-content: start;
    flex: 1;
}
.excerpt {
    width: 450px;
}

.page-num {
    /* position: sticky; */
    /* left: 500px; */
    transform: translate(500px, 44px);
}

#title {
    position: absolute;
    top: 84px;
    left: 3.5rem;
    z-index: 40;

    p {
        text-align: left;
        font-size: 1rem;
        margin: 0;
    }
    
    .detail {
        font-size: 0.8rem;
    }

}

#reader {
    position: absolute;
    top: 84px;
    right: 30px;
    /* transform: translate(-50%, -50%); */
    text-align: left;
    
    width: 316px;
    height: 600px;
    /* background-color: rgba(201, 18, 18, 0.8); */

    overflow: scroll;

    padding: 0;
    
    #reader-menu {
        display: flex;
        flex-direction: row;
        font-family: Arial, sans-serif;
        font-size: 0.8rem;
        justify-content: space-between;

        p {
            /* margin: 0 0.5rem; */
        }

        #reader-idx {
            /* float: left; */
        }

        #reader-btn {
            /* float: right; */
            cursor: pointer;
            display: flex;
            flex-direction: row;
        }
    }

    #reader-lang {
        font-family: Arial, sans-serif;
        /* font-weight: 100; */
        font-size: 0.8rem;
        margin: 0.5rem 0;
        cursor: pointer;
    }

    /* #reader-content {
        /* width: 100%; */
        /* display: flex;
        flex-direction: row;
        justify-items: end;
        overflow-x: scroll;
        gap: 1rem; */

        /* .reader-content-column {
            width: 320px;
        } */
    /* } */ */
        #reader-content {
            

            p {
                padding-top: 0;
                margin: 0;
            }
        }

        #reader-content > .content-text-1 {
            font-size: 0.9rem;
            line-height: 1.4rem;
            padding-bottom: 1.4rem;
        }

        #reader-content > .content-text-2 {
            padding-left: 3rem;
            font-size: 0.9rem;
            line-height: 1.4rem;
        }

        #reader-content > .content-text-3 {
            /* padding-top: 0.2rem; */
            /* padding-left: 3rem;
            font-size: 0.7rem;
            line-height: 0.9rem; */
            padding-bottom: 1.4rem;

            padding-left: 6rem;
            font-size: 0.9rem;
            line-height: 1.4rem;

            color: #4d4d4da4;
        }
    /* } */
}

@media screen and (width >= 824px) {
    #reader {
        width: 632px;
        padding: 0;

        #reader-content {            
            padding: 0;
            columns: 2;
            column-gap: 2rem;

            p {
                padding-top: 0;
                margin: 0;
            }
        }
    }

}

@media screen and (width >= 1200px) {
    #reader {
        width: 948px;
        padding: 0;

        #reader-content {  
            padding: 0;          
            columns: 3;
            column-gap: 2rem;

            p {
                padding-top: 0;
                margin: 0;
            }
        }
    }

}

